{% extends 'index.html' %}
{% block content %}


<div class="page-section" id="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 py-3">
        <h2 class="title-section">About Us
        </h2>
        <div class="divider"></div>

        <p>Nimiq Faucet is a faucet website that collects nimiq tokens from contributors, then redistributes those tokens
          in small amounts to users who want a share of it for themselves. Our primary goal is to help people who have
          no, or few, getting some free nimiq tokens to start their journey. A user can request for nimiq tokens every
          15 min. Tokens are paid instantly in your Nimiq wallet and the transaction fees are paid by us.<br><br>We
          collect Nimiq tokens through donations and revenues from ads running on the site which helps us pay the
          deployment and maintenance cost of the website.</p>

      </div>
      <div class="col-lg-6 py-3">
        <div class="img-fluid py-3 text-center">
          <img src="../static/img/aboutus.jpg" height="auto" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-section banner-info">
  <div class="wrap bg-image" style="background-image: url(../static/img/bg_pattern.svg);">
    <div class="container">
      <div class="row align-items-center">
      </div>
    </div>
  </div>
</div>

{% endblock %}