{% extends 'index.html' %}
{% block content %}

<div class="page-section banner-info">
  <div class="wrap bg-image" style="background-image: url(../static/img/bg_pattern.svg);">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 py-3">
          <h2 class="title-section">Contact Us
          </h2>
          <div class="divider"></div>

          <p class="text-lg text-white mb-5">If you have any queries or questions, we will be always be happy to help.
            Join our discord support server to contact us anytime and we will be sure to get back to you as soon as
            possible.</p>
          <p>See you later...</p>

        </div>
        <!-- Discord server widget below -->
        <!-- <div class="col-lg-8 py-3">
          <div class="img-fluid col-lg-6 py-3 text-center">
            <iframe src="https://discord.com/widget?id=935358546281889853&theme=dark" width="350" height="500"
              allowtransparency="true" frameborder="0"
              sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

{% endblock %}