{% extends 'index.html' %}
{% block content %}


<div class="page-section">
    <div class="container">
        
        <div class="row align-items-center">
            <div class="col-lg-6 py-3">
                <h2 class="title-section">Donate NIM to the faucet
                </h2>
                <div class="divider"></div>

                <p>Assist us in giving Nimiq tokens to other people. Donate Nimiq to
                    help us continue run the faucet. To donate, simply click the DONATE NIM button or scan the QR code.
                </p>

                <div>
                    <a href="https://wallet.nimiq.com/nimiq:NQ32LN2NP8R4NX1UY4TPG0EHSC93DM02DK6T" target="_blank">
                        <img src="https://www.nimiq.com/accept-donations/img/donationBtnImg/light-blue-big.svg" />
                    </a>
                </div>
            </div>
            <div class="col-lg-6 py-3">
                <div class="img-fluid py-3 text-center">
                    <img src="../static/img/qrcode-donation.png" height="auto" width="50%">
                </div>
            </div>
        </div>
        <!--<div class="col-lg-6 py-3">
            <div class="img-fluid py-3 text-center">
                <img src="../static/img/qrcode-donation.png" height="auto" width="50%">
            </div>
        </div>-->
    </div>
</div>

{% endblock %}
