{% extends 'index.html' %}
{% block content %}


<div class="page-section" id="about">
    <div class="container">
        
        <div class="row align-items-center">
            <div class="col-lg-12 py-3 wow fadeInUp">
                <h2 class="title-section">Frequently Asked Questions</h2>
                <div class="divider"></div>

                <div class="faq_area section_padding_100" id="faq">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-sm-8 col-lg-6">

                                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.3s"
                                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                    <p>You will find answer to your questions here. If you have any further questions,
                                        please contact us through our <a href="/contact">discord support server.</a></p>
                                    <div class="line"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">

                            <div class="col-12 col-sm-10 col-lg-8">
                                <div class="accordion faq-accordian" id="faqAccordion">
                                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s"
                                        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                        <div class="card-header" id="headingOne">
                                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne"
                                                aria-expanded="true" aria-controls="collapseOne">What is Nimiq?
                                                <span class="lni-chevron-up"></span>
                                            </h6>
                                        </div>
                                        <div class="collapse" id="collapseOne" aria-labelledby="headingOne"
                                            data-parent="#faqAccordion">
                                            <div class="card-body">
                                                <p>Nimiq is a browser-based Blockchain designed for simplicity. Nimiq’s
                                                    reason for existence is to bring the benefits of blockchain
                                                    technology to the mainstream. To achieve that purpose Nimiq has been
                                                    built from the ground up to address and break the barriers to entry
                                                    that inhibit the mainstream adoption of blockchain technologies.
                                                    Nimiq is encompassed by a strong philanthropic mindset, it will
                                                    always remain open-source and community-driven.</p>
                                                <p>Nimiq was created by Robin Linus and Philipp von Styp-Rekowsky.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s"
                                        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                        <div class="card-header" id="headingTwo">
                                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                                aria-expanded="true" aria-controls="collapseTwo">Where do the Nimiq
                                                tokens come from?
                                                <span class="lni-chevron-up"></span>
                                            </h6>
                                        </div>
                                        <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo"
                                            data-parent="#faqAccordion">
                                            <div class="card-body">
                                                <p>All the Nimiq tokens in the faucet come from donations from
                                                    contributors and ad revenues. Even I donate myself to the faucet
                                                    from the ad revenues.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s"
                                        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                        <div class="card-header" id="headingThree">
                                            <h6 class="mb-0 collapsed" data-toggle="collapse"
                                                data-target="#collapseThree" aria-expanded="true"
                                                aria-controls="collapseThree">What is a faucet?
                                                <span class="lni-chevron-up"></span>
                                            </h6>
                                        </div>
                                        <div class="collapse" id="collapseThree" aria-labelledby="headingThree"
                                            data-parent="#faqAccordion">
                                            <div class="card-body">
                                                <p>A faucet in cryptocurrency term is a website that gives crypto
                                                    coins/tokens,
                                                    a small amount of coins/tokens at a time (called drops). The main
                                                    purpose is to help people who are new to the community get their
                                                    first
                                                    coins/tokens.
                                                    Most faucets usually restrict the number of times you can request
                                                    for coins/tokens
                                                    with time limitation. With Nimiq Faucet you can request for tokens
                                                    every 15 min.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s"
                                        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                        <div class="card-header" id="headingFour">
                                            <h6 class="mb-0 collapsed" data-toggle="collapse"
                                                data-target="#collapseFour" aria-expanded="true"
                                                aria-controls="collapseFour">I just claimed tokens, but haven't recieved
                                                them in the wallet.
                                                <span class="lni-chevron-up"></span>
                                            </h6>
                                        </div>
                                        <div class="collapse" id="collapseFour" aria-labelledby="headingFour"
                                            data-parent="#faqAccordion">
                                            <div class="card-body">
                                                <p>Nimiq tokens are sent instantly but it takes atleast 1 confirmation
                                                    to
                                                    authorise the transaction and send it in your wallet. Until then, a
                                                    pending
                                                    transaction should be visible in your wallet transactions. If it
                                                    doesn't, make sure you entered the correct wallet address while
                                                    claiming the tokens.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s"
                                        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                        <div class="card-header" id="headingFive">
                                            <h6 class="mb-0 collapsed" data-toggle="collapse"
                                                data-target="#collapseFive" aria-expanded="true"
                                                aria-controls="collapseFive">It says wrong wallet
                                                address when I try to claim the tokens.
                                                <span class="lni-chevron-up"></span>
                                            </h6>
                                        </div>
                                        <div class="collapse" id="collapseFive" aria-labelledby="headingFive"
                                            data-parent="#faqAccordion">
                                            <div class="card-body">
                                                <p>Nimiq wallet address has space after every 4 digits of the address.
                                                    Make sure you do NOT remove those spaces or your address will be
                                                    marked as invalid.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s"
                                        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                        <div class="card-header" id="headingSix">
                                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSix"
                                                aria-expanded="true" aria-controls="collapseSix">How do I get a Nimiq
                                                address?
                                                <span class="lni-chevron-up"></span>
                                            </h6>
                                        </div>
                                        <div class="collapse" id="collapseSix" aria-labelledby="headingSix"
                                            data-parent="#faqAccordion">
                                            <div class="card-body">
                                                <p>To receive Nimiq, you need a wallet. You can use Nimiq's official web
                                                    wallet on <a href="https://wallet.nimiq.com"
                                                        target="_blank">wallet.nimiq.com</a> or you can use any other
                                                    wallet and get
                                                    your Nimiq address from there.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s"
                                        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                        <div class="card-header" id="headingSeven">
                                            <h6 class="mb-0 collapsed" data-toggle="collapse"
                                                data-target="#collapseSeven" aria-expanded="true"
                                                aria-controls="collapseSeven">Is Nimiq Faucet really free?
                                                <span class="lni-chevron-up"></span>
                                            </h6>
                                        </div>
                                        <div class="collapse" id="collapseSeven" aria-labelledby="headingSeven"
                                            data-parent="#faqAccordion">
                                            <div class="card-body">
                                                <p>Yes, it is 100% free to use. The website's maintenance and hosting
                                                    costs are paid by the ad revenues.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-section banner-info">
    <div class="wrap bg-image" style="background-image: url(../static/img/bg_pattern.svg);">
        <div class="container">
            <div class="row align-items-center">
            </div>
        </div>
    </div>
</div>

{% endblock %}
