{% extends 'index.html' %}
{% block content %}

<div class="container">
  <div class="page-banner home-banner">
    <div class="row align-items-center flex-wrap-reverse h-100">
      <div class="col-md-6 py-2">
        <h1 class="mb-4">Faucet is currently under maintenance. Please come back later...</h1>
      </div>
      <div class="col-md-6 py-2">
        <div class="img-fluid text-center">
          <img src="../static/img/maintenance.png" height="auto" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
